
div{
    display: block;
    float: left;
}

.ajedrez div div{
    width: 140px;
    height: 100px;
}
.ajedrez div:nth-child(odd) div:nth-child(odd){
    background-color: black;
}
.ajedrez div:nth-child(odd) div:nth-child(even){
    background-color: white;
}
.ajedrez div:nth-child(even) div:nth-child(even){
    background-color: black;
}
